.containerHeader {
  position: fixed;
  min-width: 100%;
  height: 80px;
  background: #002d33;
  display: flex;
  flex-direction: row;
  justify-content: right;
  color: white;
  align-items: center;
}

.email {
  padding-right: 30px;
}

.value {
  display: flex;
  margin-right: 50px;
  justify-content: center;
  align-items: center;
  padding-left: 3px;
  font-weight: 800;
}

.currency {
  font-weight: 800;
}

.titleHeader {
  font-family: 'Permanent Marker', cursive;
  text-transform: uppercase;
  font-size: 23px;
  position: absolute;
  left: 30px;


}